$def with (ctx)
<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/DataTables/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/DataTables/jquery.dataTables.min.css"/>
 
<link rel="stylesheet" type="text/css" href="/static/main.css"/>

<script type="text/javascript" src="/static/DataTables/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/static/DataTables/jquery.dataTables.min.js"></script>

<script type="text/javascript" src="/static/DataTables/datatables.min.js"></script>

</head>
<body>

<div class="fw-background"></div>
<div class="fw-container">
    <div class="fw-header">
        <div class="logo"></div>
        <div class="nav-search">
            $if ctx.session.role >= ctx.ROLE_BATCH_VIEWER:
                <div class="nav-item"><a href="/batches/view">Выгрузки</a></div>
            $if ctx.session.role >= ctx.ROLE_CONFIG:
                <div class="nav-item"><a href="/config/product_filter/edit">Фильтр продуктов</a></div>
            $if ctx.session.role == ctx.ROLE_ANON:
                <div class="nav-item"><a href="/login">Вoйти</a></div>
            $else:
                <div class="nav-item"><a href="/logout">Выйти</a></div>

        </div>
    </div>

