.report-draggable-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  overflow: auto;
  .item {
    user-select: none;
    padding: 3px 10px;
    margin: 8px 8px 0 0;
    border: 1px solid #1c84c6;
    background: #1c84c6;
    color: #fff;
    border-radius: 20px;
    font-size: 12px;
    &.clone + div {
      display: none !important;
    }
  }
}

.report-droppable-container {
  border: 1px solid #e7eaec;
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin-top: 20px;
  min-height: 150px;
  margin-bottom: 20px;
  overflow: auto;
  .item {
    margin-top: 10px;
    padding: 10px;
    background: #fafafa;
    border-radius: 3px;
    border: 1px solid #e7eaec;
    border-left: 3px solid #1a7bb9;
    position: relative;
    transition: none !important;
    .close {
      position: absolute;
      right: 8px;
      top: 0;
    }
    .condition {
      display: flex;
      flex-direction: column;
      &__header {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
      }
      &__select {
        width: 140px;
        margin-left: 20px;
      }
      &__body {
        display: flex;
        .input-group {
          .input-group-prepend {
            display: flex;
          }
          div:nth-child(2) {
            display: flex;
            flex: 1;
            .react-datepicker {
              &-wrapper {
                display: flex;
                flex: 1;
              }
              &__input-container {
                display: flex;
                flex: 1;
              }
            }
          }
        }
      }
      &__input {
        display: flex;
        flex: 1;
        .react-select__control {
          display: flex;
          flex: 1;
          .react-select__input {
            & > input {
              opacity: 1 !important;
            }
          }
        }
        &:nth-child(2) {
          margin-left: 15px;
        }
      }
    }
  }
}

.report-data {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__body {
    margin-top: 10px;
    .nav {
      margin-top: 20px;
    }
  }
}

.extended-table {
  &__header {
    display: flex;
    flex-flow: wrap;
    &_column {
      display: flex;
      flex-direction: column;
      flex: 0 0 50%;
      height: 150px;
      &:nth-child(1), &:nth-child(2) {
        border-bottom: 1px solid #ddd;
      }
      &:nth-child(1), &:nth-child(3) {
        border-right: 1px solid #ddd;
      }
      &:nth-child(2), &:nth-child(4) {
        padding-left: 10px;
      }
      &-title {
        text-transform: uppercase;
      }
      &-items {
        overflow-y: auto;
        margin: 5px 0;
        display: flex;
        align-items: flex-start;
        .placeholder {
          opacity: 0.5;
        }
      }
      &-item {
        flex: 0 0 auto;
        user-select: none;
        padding: 3px 10px;
        margin: 8px 8px 0 0;
        border: 1px solid #1c84c6;
        background: #fff;
        color: #1c84c6;
        border-radius: 5px;
        font-size: 12px;
        min-width: 100px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        position: relative;
        padding-right: 20px;
        &.active {
          border: 1px solid #1c84c6;
          background: #1c84c6;
          color: #fff;
        }
        &.clone + div {
          display: none !important;
        }
        .close {
          float: none;
          position: absolute;
          right: 5px;
          top: -3px;
          font-size: 1.1rem;
          line-height: inherit;
          cursor: pointer;
        }
      }
    }
  }
  &__body {

  }
}

.material-table-bordered {
  table {
    thead {
      tr {
        th {
          border-right: 1px solid #ddd;
          border-top: 1px solid #ddd;
          background: #f9f9f9;
          border-right: 1px solid #ddd !important;
          padding-left: 4px;
          padding-right: 4px;
          &:nth-of-type(1) {
            border-left: 1px solid #ddd;
          }
          button {
            padding: 10px;
            svg {
              font-size: 18px;
            }
          }
        }
      }
    }
    tbody {
      tr {
        td {
          border-right: 1px solid #ddd;
          padding-left: 4px;
          padding-right: 4px;
          &:nth-of-type(1) {
            border-left: 1px solid #ddd;
          }
        }
      }
    }
  }
}